{{ define "main" }}
<div class="container">
    <div><br></div>
    <div><br></div>
    <div><br></div>
    <h1 class="medium-weight">
        Every product has a <span class="color-accent">story.</span>
        <br>
        <span class="color-accent">I want to illuminate the ones that I can.</span>
    </h1>
    <p class="secondary-font">Hi! I'm Jasmine, an experience designer excited to solve complex problems with human-centered design.</p>
    <br>
    <p class="color-accent">featured works</p>
    <div class="works-box">
        <!-- To add a new "works-box", add a new entry to the params.works section of config.toml in the project root directory -->
        {{ range $.Site.Params.works }}
        <div class="works-box-item-cover" style="background-image: url({{ .image }})">
            <div class="works-box-item" onclick="location.href='{{ .url }}'">
                <h2 class="color-dark-dark-accent normal-weight">{{ .title }}</h2>
                <span class="color-light">{{ .desc }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
