
@font-face {
    font-family: 'Aeonik';
    src: url("/fonts/Aeonik-Light.otf") format("otf");
}
@font-face {
  font-family: 'Benne';
  src: url("/fonts/Benne-Regular.otf") format("ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@keyframes example {
    from {background-color: transparent;}
    to {background-color: #AEBF99;}
}



/* ==================== */
/* General Page Spacing + Containers */
html{
  /* overflow: auto; */
  height: 100%;
  box-sizing: border-box;
    overflow: auto;
}

body {
  font-family: 'Aeonik', serif !important;
  /* overscroll-behavior: contain; */
  overflow-wrap: break-word;
  overflow: auto;
  height: 100%;
  width: 100%;
  overscroll-behavior-x: contain;
  
}
#body
{
background-image: linear-gradient(to right, #cfc 0%, #cfc 79%, #afa calc(79% + 4px), #afa 100%);
display: flex;
order: 2;
overflow: auto;
}

.body-beige {
  background: #FFF8F1 !important; 
}

.invisi-text {
  text-decoration: none;
  color: transparent;
}

.margin-x {
  /* display: flex; */
  margin-left: 20em ;
  margin-right: 20em ;
}

.col-custom {
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 1em;
  color: transparent !important;
  background-color: #FFF8F1;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 150px;
}

.col-custom:hover {
  background-color: #AEBF99;
  color: white !important;
  border-color: #AEBF99 !important;
  cursor: pointer !important;
  animation: example;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.col-sm {
  border-color: black !important;
}

.box{
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 10px;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF8F1;
  border-color: black;
  border-radius: 3px;
  text-align: center;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .box{    
      padding-top: 60px;
      padding-bottom: 60px;
  }

}

.span-space {
  width: 1px;
  height: 150px;
}

.navbar-fixed-top {
  position: relative;
  top: auto;
  width: 100%;
}

/* ==================== */
/* Images and Embellishments */

.vertical {
  border-right: 1px solid #AEBF99;
  position:relative;
}

.vertical-bp {
  border-left: 1px solid #070369;
  position:relative;
  height: min-content;
}

.vertical-bp-right {
  border-right: 1px solid #070369;
  position:relative;
}

.logo {
  height:35px;
}
.title-img {
  /* height: 350px; */
  align-items: center !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #AEBF99;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #AEBF99;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* ==================== */
/* Text */

h3 {
  font-weight:400 !important;
  font-size:2.6em !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.benne {
  font-family: 'Benne';
}

.title {
  font-size: larger;
}

.para {
  font-size: large;
}



/* ==================== */
/* Colors */

.jasmine-green {
  color: #AEBF99;
}
.bp-blue {
  color: #070369;
}



